@using VisitaFacil.Dominio.Entities;
@model IEnumerable<Funcionario>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Telefone 1</th>
            <th>Telefone 2</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.idFuncionario
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.Cpf
                </td>
                <td>
                    @item.dataNascimento.ToString("dd/MM/yyyy")

                </td>
                <td>
                    @item.Endereco
                </td>
                <td>
                    @item.Telefone1
                </td>
                <td>
                    @item.Telefone2
                </td>
                <td>
                    @item.Email
                </td>

                <td>
                    <a class="btn btn-info btn-xs" asp-action="Editar" asp-controller="Funcionario" asp-route-id="@item.idFuncionario">
                        <i class="glyphicon glyphicon-edit"></i> Editar
                    </a>

                    <a class="btn btn-danger btn-xs" asp-action="excluir" asp-controller="Funcionario" asp-route-id="@item.idFuncionario">
                        <i class="glyphicon glyphicon-trash"></i> Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info btn-xs" href="javascript:history.go(-1)" class="btn-grad">Voltar</a>