@using VisitaFacil.Dominio.Entities; 
@model IEnumerable<DadosPessoais>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>CEP</th>
            <th>Rua</th>
            <th>Numero</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Telefone</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    @item.Cpf
                </td>
                <td>
                    @item.dataNascimento.ToString("dd/MM/yyyy")
                    
                </td>
                <td>
                    @item.CEP
                </td>
                <td>
                    @item.Logradouro
                </td>
                <td>
                    @item.Numero
                </td>
                <td>
                    @item.Complemento
                </td>
                <td>
                    @item.Bairro
                </td>
                <td>
                    @item.Cidade
                </td>
                <td>
                    @item.Estado
                </td>

                <td>
                    @item.Telefone
                </td>
                <td>
                    @item.Email
                </td>
               
                <td>
                    <a class="btn btn-danger btn-xs" asp-action="Excluir" asp-controller="DadosPessoais" asp-route-ID="@item.ID">
                    
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>